.body {
  background-color: rgb(7, 9, 13);
  margin: 0px;
  padding: 0px;
}

.app {
  background-color: rgb(7, 9, 13);
  color: rgb(179, 179, 179);
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.app-root {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0px;
  padding: 0px;
}

.checkbox {
  margin-right: 11px;
}

.main {
  background-image: linear-gradient(to bottom right, rgb(50, 63, 89), #000);
  display: flex;
  flex: 1;
}

.main * {
  flex: 1;
}

.sidebar {
  background-color: rgb(7, 9, 13);
  display: flex;
  flex-direction: column;
  margin-right: 11px;
  width: 200px;
}

.sidebar-option {
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-weight: 100;
  line-height: 40px;
  max-height: 40px;
  overflow: hidden;
  vertical-align: middle;
}

.sidebar-option:hover {
  color: #fff;
  transition: color 0.5s;
}

.sidebar-option.selected {
  // border-left: 3px solid rgb(125, 210, 101);
  font-weight: 700;
  color: #fff;
  transition: color font-weight 0s;
}

.sidebar-option-title {
  border: solid 1px white;
}

.sidebar-option .selection-mark {
  height: 100%;
  width: 3px;
  margin-right: 20px;
  transition: transform 0.3s;
  transform: translateY(-40px);
}

.sidebar-option.selected .selection-mark {
  background-color: rgb(125, 210, 101);
  transition: transform 0.3s;
  transform: translateY(0px);
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

ul li {
  margin-top: 5px;
}

form .section {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

form .section .header-text {
  color: white;
  flex: 1;
  font-weight: 700;
  font-size: 24px;
}

form .section .header-icon {
  color: white;
  font-weight: 900;
  font-size: 18px;
  max-width: 30px;
  width: 30px;
}

form .section .header.collapsible {
  // background-color: #000;
}
form .section .header {
  // border-bottom: 1px solid white;
  // display: flex;
  // flex: 1;
  // flex-direction: row;
  margin-top: 20px;
  margin-bottom: 15px;
}

form .section .children {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 10px;
}

form .text-input-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 10px;
}

form .text-input-label {
  color: white;
  flex: 1;
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 15px;
  padding-right: 10px;
  text-align: right;
}

form .text-input {
  margin-right: 30px;
  flex: 3;
}
