.body {
  background-color: rgb(7, 9, 13);
  margin: 0px;
  padding: 0px;
}

.app {
  background-color: rgb(7, 9, 13);
  color: rgb(179, 179, 179);
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.app-root {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0px;
  padding: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 11px;
}

.card:first-of-type {
  margin-top: 20px;
}

.card .header {
  color: #ffffff;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.checkbox {
  margin-right: 11px;
}

.main {
  background-image: linear-gradient(to bottom right, rgb(50, 63, 89), #000);
  flex: 1;
}

.main * {
  flex: 1;
}

.sidebar {
  background-color: rgb(7, 9, 13);
  display: flex;
  flex-direction: column;
  margin-right: 11px;
  width: 200px;
}

.sidebar-option {
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-weight: 100;
  line-height: 40px;
  max-height: 40px;
  overflow: hidden;
  vertical-align: middle;
}

.sidebar-option:hover {
  color: #fff;
  transition: color 0.5s;
}

.sidebar-option.selected {
  // border-left: 3px solid rgb(125, 210, 101);
  font-weight: 700;
  color: #fff;
  transition: color font-weight 0s;
}

.sidebar-option-title {
  border: solid 1px white;
}

.sidebar-option .selection-mark {
  height: 100%;
  width: 3px;
  margin-right: 20px;
  transition: transform 0.3s;
  transform: translateY(-40px);
}

.sidebar-option.selected .selection-mark {
  background-color: rgb(125, 210, 101);
  transition: transform 0.3s;
  transform: translateY(0px);
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

ul li {
  margin-top: 5px;
}
