.body {
  margin: 0px;
  padding: 0px;
}

.app {
  margin: 0px;
  padding: 0px;
}

.app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
  padding: 0px;
}

.app-content {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
}

.menu-button {
  margin-right: 2;
}

form .section {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  flex-direction: column;
}

.element:not(:first-child) {
  margin-top: 20px;
}

.smalltop {
  margin-top: 0px !important;
}

form .section .children {
  display: flex;
  flex-direction: column;
}

.form-submit {
  width: 100px;
}

.dialog-title-with-icon {
  padding: 10px;
}

.success {
  color: #4bb543;
}

.error {
  color: #b00020;
}

.incomplete {
  color: #9e9e9e;
}

.inprogress {
  color: #212121;
}
